
<div  class="container-job-detail">

    <div *ngIf="job" class="content-job-detail">
        <button routerLink="/" class="back-button">Voltar</button>
        <div *ngIf="company" class="header">
            <div  class="content-company">
                <img  class="logo-company" src="{{company.photo_url === '' ? 'assets/icons/icon-company.jpg' : company.photo_url}}" alt="">
                <div class="info-company">
                    <h3>{{ company.short_name }}</h3>
                    <small>{{ company.state }}</small>
                </div>
            </div>
            <button>Aplicar</button>
        </div>
        <hr>
        <h1 class="headline" >{{ job.headline }}</h1>
        <span>Descrição:</span>
        <p class="description">{{ job.description }}</p>
        <span>Requisitos:</span>
        <p>{{ job.requirements }}</p>
        <span>Rotina:</span>
        <p>{{ job.routine }}</p>
    </div>
</div>

