
<div  class="containerJobDetail">
    
    <div *ngIf="job" class="contentJobDetail">
        <button routerLink="/" class="back-button">Voltar</button>
        <div *ngIf="company" class="header">
            <div  class="contentCompany">
                <img  class="logoCompany" src="{{company.photo_url === '' ? 'assets/images/icon-company.png' : company.photo_url}}" alt="">
                <div class="infoCompany">
                    <h3>{{ company.short_name }}</h3>
                    <small>{{ company.state }}</small>
                </div>
            </div>
            <button>Aplicar</button>
        </div>
        <hr>
        <h1 class="headline" >{{ job.headline }}</h1>
        <small>{{ job.routine }}</small>
        <span>Descrição:</span>
        <p class="description">{{ job.description }}</p>
        <span>Requisitos:</span>
        <p>{{ job.requirements }}</p>
    </div>
</div>

