<aside class="{{ showNavBarMobile ?  'navbar-mobile' : 'navbar' }}">
  <nav>
    <button routerLink="/">
      <span>
        <img src="../../../assets/icons/icon-home.png" alt="icone casa" />
        <span>Painel de vagas</span>
      </span>
    </button>

    <button routerLink="jobs-applied" (click)="showNavBarMobile = false">
      <span>
        <img  src="../../../assets/icons/icon-job.png" alt="icone de maleta" />
        <span routerLinkActive="active">Vagas aplicadas</span>
      </span>
    </button>

    <button routerLink="edit-profile" (click)="showNavBarMobile = false">
      <span>
        <img  src="../../../assets/icons/icon-profile.png" alt="icone de maleta" />
        <span routerLinkActive="active">Editar perfil</span>
      </span>
    </button>
  </nav>


</aside>
<img
  (click)="showNavMobile()"
  class="menu"
  src="{{ showNavBarMobile ? '../../../../../assets/icons/icon-close.png' : '../../../../../assets/icons/icon-menu.png'}}"
  alt="icones menu mobile"
/>
