.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;

  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  background-color: green;
  z-index: 999;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;

  cursor: pointer;
}

.logo h1 {
  color: #051405;
  font-weight: 700;
  font-size: 42px;
}

.logo span {
  color: #ffff;
}

.login-link-button {
  display: flex;
  align-items: center;
  
  color: #ffff;

  gap: 4px;

  position: absolute;
  top: 6px;
  right: 22px;

  cursor: pointer;
}

.login-link-button img {
  width: 20px;
}

