<header class="header">
    <div routerLink="/" class="logo">
        <h1>Dev<span>jobs</span></h1>
    </div>

    <div *ngIf="showSignIn" class="login-link-button" routerLink="dashboard/jobs-applied" >
        <span class="link-dashboard">Entrar</span>
        <img src="../../../assets/icons/icon-login.jpg" alt="icon login"/>
    </div>

    <div *ngIf="showLogout" class="login-link-button" routerLink="login" >
        <span (click)="logout()" class="link-dashboard">Sair</span>
        <img src="../../../assets/icons/icon-login.jpg" alt="icon login"/>
    </div>
</header>
