.container form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 500px;
  width: 100%;
}

.span-link {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.content-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  width: 100%;
}

.content-input label {
  font-weight: 600;
}

.content-input input {
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
}

.button-login {
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: #ffff;
  background-color: green;

  width: 100%;

  cursor: pointer;
}

.button-login:hover {
  opacity: 0.8;
}

.validation-error p {
  color: #dc3545;
  margin-top: 0.4em;
  border-left: 3px solid #dc3545;
  padding-left: 0.2em;
}

@media (max-width: 540px) {
  .container form h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .content-input {
    width: 90%;
  }

  .button-login {
    width: 90%;
  }
}
