<div class="container">
  <form (ngSubmit)="submit()" [formGroup]="loginForm" #formDir="ngForm">
    <h1>Bem-vindo(a)</h1>
    <div class="content-input">
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Digite seu email"
        formControlName="email"
        required
      />
      <div *ngIf="email.invalid && formDir.submitted" class="validation-error">
        <p *ngIf="email.errors?.['required']">O email é obrigatório</p>
      </div>
    </div>
    <div class="content-input">
      <label for="password">Senha</label>
      <input
        type="password"
        placeholder="****"
        formControlName="password"
        required
      />
      <div
        *ngIf="password.invalid && formDir.submitted"
        class="validation-error"
      >
        <p *ngIf="password.errors?.['required']">A senha é obrigatória</p>
      </div>
    </div>

    <button routerLinkActive="router-link-active" class="button-login">
      Entrar
    </button>

    <span class="span-link"
      >Ainda não possui uma conta? faça o <a routerLink="/register">cadastro</a>
    </span>
  </form>
</div>
