.container form {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 500px;
  width: 100%;
}

.spanLink {
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
}

.contentInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  width: 500px;
}

.contentInput label {
  font-weight: 600;
}

.contentInput input {
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 10px;
}

.buttonRegister {
  width: 500px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  color: #ffff;
  background-color: green;

  cursor: pointer;
}

@media (max-width: 540px) {
  .container form h1 {
    font-size: 28px;
    margin-bottom: 8px;
  }

  .contentInput {
    width: 90%;
  }

  .buttonRegister {
    width: 90%;
  }
}

@media (max-height: 670px) {
  .container form {
    margin-top: 60px;
  }
}
