<div class="container">
    <form>
        <div class="contentInput">
            <label>Nome</label>
            <input type="text"/>
        </div>
        <div  class="contentInput">
            <label>Username</label>
            <input type="text"/>
        </div>
        <div class="contentInput">
            <label>Email</label>
            <input type="email"/>
        </div>
        <div class="contentInput">
            <label>Senha</label>
            <input type="password"/>
        </div>
       
        <button class="buttonRegister">Cadastrar</button>

        <span class="spanLink">Já possui uma conta? faça o <a routerLink="/login">login</a></span>
    </form>
</div>
