<div class="container">
  <form>
    <h1>Faça o seu cadastro</h1>
    <div class="content-input">
      <label>Nome</label>
      <input type="text" />
    </div>
    <div class="content-input">
      <label>Username</label>
      <input type="text" />
    </div>
    <div class="content-input">
      <label>Email</label>
      <input type="email" />
    </div>
    <div class="content-input">
      <label>Senha</label>
      <input type="password" />
    </div>

    <button class="button-register">Cadastrar</button>

    <span class="span-link"
      >Já possui uma conta? faça o <a routerLink="/login">login</a></span
    >
  </form>
</div>
