.container form {
    display: flex;
    flex-direction: column;

    margin-top: 50px;
}

.spanLink {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
}

.contentInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

    width: 300px;
}

.contentInput label {
    font-weight: 600;
}

.contentInput input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 10px;
}

.buttonRegister {
    width: 300px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: #ffff;
    background-color: green;

    cursor: pointer;
}